body {
 background-color: white; 
 font-family: Verdana, sans-serif; 
 font-size: 100%;
 }
table {
 margin:auto;
 background-color: skyblue;
 border-color: darkslategray;
 border-style: solid;
 border-radius: 10px;
}

table.transavia {
 background-color: rgb(26, 209, 89);
}

table.oui {
 background-color: rgb(203, 70, 40);
}
